[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
pytest-django = "*"
python-decouple = "*"
dj-database-url = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-s3-folder-storage = "==0.5"
collectfast = "*"
django-debug-toolbar = "*"

[dev-packages]
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
